@import url(./reset.css);
/* theme*/

/*nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0f0f0f;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Assure que la barre de navigation est au-dessus du contenu */
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7D4FFE;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font: 1.6rem 'Open Sans', sans-serif;

}

.navbar-links {
  display: flex;
  align-items: stretch;

}

.navbar-link {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  text-decoration: none;
  color: #7D4FFE;
  background-color: #ffffff;
  border: none;
  height: 100%;
  box-sizing: border-box;
}

.navbar-link-important {
  background-color: #7D4FFE;
  color: white;
}

.navbar-link:not(.navbar-link-important) {
  background-color: transparent;
}

.navbar-link:hover {
  background-color: #7D4FFE;
  color: white;
}

.navbar-link-important:hover {
  background-color: #7D4FFE;
}

.desc-photo{
    display : grid ;
    place-items : center ;
    letter-spacing: .1rem;
    text-align: center;
    

  }
  
  .photo {
    padding-top: 60px;
      display: flex;
      justify-content: center; /* Centre l'image horizontalement */
      align-items: center; /* Centre l'image verticalement */
      height: 200px; /* Hauteur du conteneur, ajustez selon vos besoins */
    }
    
    .photo img {
      width: 130px; /* Largeur souhaitée */
      height: auto; /* Hauteur ajustée automatiquement pour maintenir les proportions */
    }
  

    body{
      background-color: #242424;
    }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
  }
  
  /* Expériences */
  .Experiences { 
    font-family: 'Space Mono', monospace; 
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 32px;
    margin: 60px auto;
    border: 1px solid #eee;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.16);
    color: #7D4FFE;
    background-color: #0f0f0f;
  }
  
  /* Liste ordonnée */
  ol { 
    padding-left: 20px; 
  }
  
  /* Éléments de liste */


  li { 
    color: #7D4FFE; 
    padding-left: 0px;
    margin-top: 24px;
    position: relative;
    font-size: 16px;
    line-height: 20px;
  }
  
  /* Marqueurs de liste */
  li:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute;
    top: -12px;
    left: -40px;
    color: #7D4FFE;
  }
  
  /* Texte en gras */
  strong { 
    color: #6a35ff; 
  }
  
  /* Alternance de couleurs dans la liste */
  ol.alternating-colors li:nth-child(odd):before { 
    border-color: #0BAD02; 
  }
  
  ol.alternating-colors li:nth-child(even):before { 
    border-color: #2378D5; 
  }



  
  h2{
    text-align: center;
    letter-spacing: .1rem;
    
  }
  
  .logo{
    margin: 0 10px;
  }

  .Experiences{
    text-align: center;
    letter-spacing: .1rem;
  }

  /* englobeur img*/
  .image-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    
  }
/* ligne img*/
  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* taille img*/
    .image-row img {
    width: 8%; 
    height: auto; 
    margin: 1.8rem; 
  }

/*contact */

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #7D4FFE;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  




  /* footer */
  footer {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(#5c63b2, #3339a7);
    color: white;
    text-align: center;
    margin-top: 1%;
  }