@import url(./reset.css);
/* theme*/

/*nav bar*/
@import url(navbar.css);

body{
  background-color: #16191d;
}

* {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizelegibility;
letter-spacing: -0.25px;
}

.button-container {
    text-align: center; /* Centrage horizontal */
    margin-top: 50px; /* Espacement du haut */
    padding-top: 60px;
}

.button {
    display: inline-block;
    padding: 10px 20px; /* Ajustez la taille des boutons selon vos besoins */
    margin: 10px; /* Espacement entre les boutons */
    font-size: 16px; /* Taille de la police */
    text-decoration: none; /* Supprimer le soulignement par défaut sur les liens */
    color: white; /* Couleur du texte */
    background-color: #007bff; /* Couleur de fond du bouton */
    border: 2px solid #007bff; /* Bordure du bouton */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s; /* Transition fluide lors du survol */
}

.button:hover {
    background-color: #0056b3; /* Couleur de fond du bouton lors du survol */
    color: white; /* Couleur du texte lors du survol */
}
