@import url(./reset.css);
/* theme*/

/*nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  padding: 0;
  
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  font: 1.6rem 'Open Sans', sans-serif;
}

.navbar-links {
  display: flex;
  align-items: stretch;
}

.navbar-link {
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  text-decoration: none;
  color: #333333;
  background-color: #ffffff;
  border: none;
  height: 100%;
  box-sizing: border-box;
}

.navbar-link-important {
  background-color: #5c63b2;
  color: white;
}

.navbar-link:not(.navbar-link-important) {
  background-color: transparent;
}

.navbar-link:hover {
  background-color: #5c63b2;
  color: white;
}

.navbar-link-important:hover {
  background-color: #5c63b2;
}



  .pimg{
    height: auto; 
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
    line-height: 5rem;
    font-size: 3rem;
  }

  .photo{
    display : grid ;
    place-items : center ;
    letter-spacing: .1rem;
  }



  .List_Exp{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
  }

  h2{
    text-align: center;
    letter-spacing: .1rem;
    
  }
  
  .logo{
    margin: 0 10px;
  }

  .Experiences{
    text-align: center;
  }
  

  body{
    background-color: rgba(130, 122, 122, 0.579);
  }

  /* englobeur img*/
  .image-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    
  }

  section .arbre img{
    max-width: 100%;
  }

  .p_mcd{
    color: black;
    text-align: center;
    text-decoration: none;
  }

  .mcd{
    display : grid ;
    place-items : center ;
  }


  /* footer */
  footer {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(#5c63b2, #3339a7);
    color: white;
    text-align: center;
    margin-top: 1%;
  }