@import url(./reset.css);
/* theme*/

/*nav bar*/
@import url(navbar.css);


body{
  padding-top: 60px;
  background-color: #16191d;
}

* {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizelegibility;
letter-spacing: -0.25px;
}


  .pimg{
    padding-top: 60px;
    height: auto; 
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    text-align: center;
    line-height: 5rem;
    font-size: 3rem;
  }

  h2{
    text-align: center;
    letter-spacing: .1rem;
    
  }
  
  .logo{
    margin: 0 10px;
  }

  .Experiences{
    text-align: center;
  }
  


  /* englobeur img*/
  .image-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    
  }

  section .arbre img{
    max-width: 100%;
  }

  .p_mcd{
    color: black;
    text-align: center;
    text-decoration: none;
  }

  .mcd{
    display : grid ;
    place-items : center ;
  }


  /* footer */
  footer {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    background: linear-gradient(#5c63b2, #3339a7);
    color: white;
    text-align: center;
    margin-top: 1%;
  }